<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="main">
        <h1> Login </h1>
        <form action="/login" method="post" class="main">
            <input type="email" name="email" placeholder="Email" id="email" class="in">
            <input type="Password" name="password" placeholder="Password" id="password" class="in">
            <input type="submit" value="Login" class="btn1">
        </form>
        <div>
        <!-- <button class="btn">Forgot password?</button> -->
        <button class="btn"> <a href="/register"> New user?Sign Up </a></buttton>
        </div>
    </div>
</body>
</html>