{%extends "layout.html%}
{%block body%}
<div class="main">
    <h2> Login </h2>
    <form class="main">
        <input type="email" name="email" placeholder="Email" id="email">
        <input type="Password" name="password" placeholder="Password" id="password">
        <input type="Password" name="confirm_password" placeholder="Confirm Password" id="confirm_password">
        <input type="submit" value="Login">
    </form>
    <div>
    <!-- <button class="btn">Forgot password?</button> -->
    <button class="btn">Already registered?Login</buttton>
    </div>
</div>
{%endblock%}